bin/Debug/net7.0/ProyectoFinal(Tienda).dll
bin/Debug/net7.0/ProyectoFinal(Tienda).pdb
obj/project.assets.json
obj/project.nuget.cache
obj/ProyectoFinal(Tienda).csproj.nuget.dgspec.json
obj/ProyectoFinal(Tienda).csproj.nuget.g.props
obj/Debug/net7.0/ProyectoFinal(Tienda).assets.cache
obj/Debug/net7.0/ProyectoFinal(Tienda).csproj.FileListAbsolute.txt
obj/Debug/net7.0/ProyectoFinal(Tienda).dll
obj/Debug/net7.0/ProyectoFinal(Tienda).GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/ProyectoFinal(Tienda).genruntimeconfig.cache
obj/Debug/net7.0/ProyectoFinal(Tienda).pdb
